<section class="social-links <%= typeof variant !== 'undefined' ? variant : '' %>" aria-label="Социальные сети колледжа">
  <div class="social-links-copy">
    <span>Мы в соцсетях</span>
    <strong>Новости, расписания и жизнь колледжа</strong>
  </div>
  <div class="social-links-grid">
    <a class="social-link" href="https://max.ru/id5012082423_gos" target="_blank" rel="noreferrer">
      <img src="/img/max.png" alt="MAX">
      <span>MAX</span>
    </a>
    <a class="social-link" href="https://t.me/energy_temnikovo" target="_blank" rel="noreferrer">
      <img src="/img/telegram.png" alt="Telegram">
      <span>Telegram</span>
    </a>
    <a class="social-link" href="https://vk.com/energy_temnikovo" target="_blank" rel="noreferrer">
      <img src="/img/vk.png" alt="ВК">
      <span>ВК</span>
    </a>
  </div>
</section>
